*{
    margin: 0 !important;
    padding: 0;
    box-sizing: 0;
}

section{
    height: 100vh;
    position: relative;
}

.btn-box a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section > section{
    height: 10%;
}

#btn_back{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.enlace{
    height: 100%;
}

section > iframe {
    width: 100%;
}
/* .inventario.clickeado{
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.clickeado{
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
} */

.inventario_container{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.inventario_item_box{
    width: 17%;
    min-width: 200px;
    height: auto;
    margin: 15px 10px !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
}

.item_img{
    width: 100%;
    height: 250px;
}

.item_img img{
    /* height: 100%; */
    width: 100%;
}
